@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#main-container {
    position: relative;
    min-height: 100vh;
}

body {
    margin: 0px;
    background-color: #4c566a;
    color: #e5e9f0;
}

main {
    padding-bottom: 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding-bottom: 1rem;
}

a {
    color: #a3be8c;
    text-decoration: none;
}

.header {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2e3440;
    text-align: center;
}

.header .header-text {
    text-decoration: none;
    color: #eceff4;
    font-size: 5rem;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    max-width: 42rem;
}

footer .container {
    border-top: solid 2px #d8dee9;
}

footer span {
    padding-left: 10px;
    padding-right: 10px;
}

#form, #response {
    text-align: center;
}

#response .the-link {
    font-weight: bold;
}

input[type=url] {
    width: 80%;
    background-color: #eceff4;
    color: #2e3440;
    border: 2px solid #2e3440;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0px;
}

.btn {
    background-color: #81a1c1;
    border: none;
    border-radius: 8px;
    color: #2e3440;
    padding: 8px 42px;
    text-decoration: none;
    cursor: pointer;
}

.btn.link-copy-btn {
    padding: 4px 20px;
    background-color: #a3be8c;
}
