<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="David Pratt">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	{% block head %}{% endblock %}
</head>


<body>
    <div id="main-container">
        <main>
            <header class="header"/>
                <div class="container"/>
                    <h1><a href="/" class="header-text">base57</a></h1>
                    <p>A no-nonsense URL shortener.</p>
                </div>
            </header>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <div class="container">
                <span>
                    Created by David Pratt
                    &nbsp;&bull;&nbsp;
                    <!--
                    <a href="https://davidpratt.dev">How it works</a>
                    &nbsp;&bull;&nbsp;
                    -->
                    Powered by <a href="https://flask.palletsprojects.com">Flask</a>
                </span>
            </div>
        </footer>
    </div>
</body>


</html>
