{% extends 'base.html' %}

{% block head %}
<title>
    base57 | URL Shortener
</title>
{% endblock %}

{% block body %}
    <form action="/" method="POST" name="mainform">

        <input type="url" id="url-input" name="url-input" placeholder="{{ long_url if long_url else 'Paste in a URL to shorten' }}" required autofocus>
        <input type="submit" class="btn" value="{{ button_text }}">

    </form>

{% if short_url %}
<div id="response" class="container">

    <p>
    <b>Your shortlink:</b>
        <input type="url" class="the-link" value="http://b57.xyz/{{ short_url }}">
        <!--
            <a class="the-link" href="http://b57.xyz/{{ short_url }}">http://b57.xyz/{{ short_url }}</a>
        -->
        <button class="btn link-copy-btn">Copy</button>
    </p>
</div>
<script type="text/javascript">
    var copyLinkBtn = document.querySelector(".link-copy-btn");

    copyLinkBtn.addEventListener(
      "click",
      function(event) {
        var shortlink = document.querySelector(".the-link");
        shortlink.focus();
        shortlink.select();
        var outcome = document.execCommand("copy") ? "successful" : "unsucessful";
        shortlink.blur();
        console.log("Copy to clipboard was " + outcome);
      }
    )
</script>
{% endif %}
{% endblock %}
